.contact-info{
  margin-bottom:50px;
  &__line{
    width:100%;
    border-top: 1px solid #dbdbdb;
  }
  &__title{
    margin:0 auto 75px auto;
    background-color: #fff;
    font-size:21px;
    line-height:1.23;
    font-weight:bold;
    text-align: center;
  }
  &__phone{
    float: left;
    width:50%;
    padding-left:120px;
    padding-right:80px;
  }
  &__email{
    float: right;
    width:50%;
    padding-right:120px;
  }
  &__text{
    float: left;
    padding-top:20px;
    font-size:14px;
    line-height:1.23;
  }
  &__text-tablet{
    display: none;
  }
  &__field{
    float: right;
    height:60px;
    padding-left:20px;
    background: #f2f2f2 url("../../img/phone.png")no-repeat center right;
    border:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &__text_tel{
    width:20%;
  }
  &__field_tel{
    width:80%;
  }
  &__text_email{
    width:33.33%;
  }
  &__field_email{
    width:65.6%;
    background: #f2f2f2 url("../../img/mail.png")no-repeat center right;
  }
}