.main-background{
  max-width:1200px;
  height:518px;
  margin-bottom:50px;
  background:
          url("../../img/intro-triangle.png") no-repeat bottom,
          url("../../img/text-index.png")no-repeat center,
          url("../../img/back-desktop.jpg")no-repeat center;
}