.services{
  margin-bottom: 80px;
  min-height: 210px;
  text-align: center;
  &__residential{
    float: left;
    width: 33.33%;
    background: url("../../img/icon-house.png")no-repeat center 20px;
  }
  &__food{
    float: left;
    width: 33.33%;
    background: url("../../img/icon-burger.png")no-repeat center 20px;
  }
  &__souvenir{
    float: left;
    width: 33.33%;
    background: url("../../img/icon-gift.png")no-repeat center 20px;

  }
  &__name{
    margin:110px 0 25px 0;
    font-size:21px;
    line-height:1.23;
    font-weight:bold;
    text-transform: uppercase;
  }
  &__description{
    width:260px;
    margin:0 auto;
    color: #333333;
    text-transform: uppercase;
  }
}