.photo-page-background-img{
  max-width:1200px;
  height:357px;
  margin-bottom:110px;
  background:
          url("../../img/intro-triangle-photo-page.png")no-repeat bottom,
          url("../../img/text-sedona-photo-page.png")no-repeat center,
          url("../../img/back-desktop-photo-page.jpg")no-repeat center;
}