@media screen and (max-width: 320px) {
  .main-background{
    height:390px;}
  .photo-page-background-img{
    height:160px;
  }
  .about-us__details{
    padding-top:80px;
    background: #81b3d2 url("../../img/about-us-triangle.png")no-repeat center top;
  }
  .impression{
    top:825px;
  }
}