$bg-light: #f8f5f2; //фон светлый
$bg-grey: #353535; //фон серый
$bg-footer: #292929; //фон футера
$wt: #ffffff; //стандартный белый
$bk: #000000; //стандартный черный
$col-white: #f7f4f1;  //белый цвет текста